html, body {
	font-family: 'Inter', sans-serif;
	background: #101C26;
}

/* =================================================== */
/* =================================================== */

.container {
	max-width: 1310px;
	padding: 0 15px;
	margin: 0 auto;
	height: 100%;
}

.button {
	display: inline-block;
	font-weight: 500;
	line-height: 24px;
	padding: 13px 32px;
	color: #BAB9B9;
	background: transparent;
	border-radius: 100px;
	border: 1px solid #CECECE;
}

.main {
	background: #F3F4F6;
}

/* =================================================== */
/* =================================================== */

.header {
	padding: 30px 0 70px;
	background: #101C26;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__list {
	display: flex;
	align-items: center;
	gap: 40px;
}

.header__logo-img {
	max-width: 98px;
	max-height: 57px;
}

.header__list-link {
	position: relative;
	color: #BAB9B9;
	font-weight: 500;
}

.header__list-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: white; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.header__list-link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: white; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

.header__btns {
	display: flex;
	align-items: center;
	gap: 15px;
}

.header__btn-signin {
	transition: .3s;
}

.header__btn-signin:hover {
	color: #101C26;
	background: #FFF;
}

.header__btn-signup {
	color: #101C26;
	padding: 13px 39px;
	background: #F0E714;
	border: none;
	transition: .3s;
}

/* =================================================== */
/* =================================================== */

.hero {
	background: #101C26;
}

.hero__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;	
}

.hero__content {
	max-width: 535px;
}

.hero__title {
	position: relative;
	color: #F3F4F6;
	font-size: 60px;
	font-weight: 700;
	line-height: 66px; /* 110% */
	letter-spacing: 0.6px;
	margin-bottom: 25px;
}

.hero__title::before {
	content: "";
	position: absolute;
	top: 155px;
   left: 445px;
	width: 38px;
	height: 38px;
	background: url("../images/decor/1.svg") no-repeat;
}

.hero__text {
	max-width: 425px;
	color: #F3F4F6;
	font-size: 20px;
	font-weight: 500;
	line-height: 32px; /* 160% */
	letter-spacing: -0.22px;
	margin-bottom: 40px;
}

.hero__btn {
	display: inline-flex;
	align-items: center;
	gap: 10px;
	color: #24272E;
	font-weight: 500;
	line-height: 24px;
	padding: 18px 36px;
	border-radius: 100px;
	background: #F0E714;
	transition: all .3s;
}

.hero__btn:hover {
	gap: 30px;
}

.hero__img {
	margin-right: -70px;
}

/* =================================================== */
/* =================================================== */

.companies {
	padding: 95px 0 60px;
	background: #101C26;
}

.companies__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* =================================================== */
/* =================================================== */

.about-us {
	padding: 140px 0;
}

.about-us-inner {
	display: flex;
	align-items: center;
	gap: 30px;
}

.about-us__image-box {
	position: relative;
}

.about-us__image-box::before {
	content: "";
	position: absolute;
	top: 320px;
   left: -40px;
	width: 182px;
	height: 182px;
	background: url('../images/decor/2.svg') no-repeat;
	z-index: 1;
}

.image-box__img {
	position: relative;
   border-radius: 10px;
   z-index: 10;
}



.about-us__theme-box {
   margin-bottom: 24px;
}

.theme-box {
	display: inline-block;
	padding: 10px 16px;
	border-radius: 1000px;
	background: rgba(240, 231, 20, 0.20);
	color: #101C26;
	line-height: 22px;
	text-transform: uppercase;
}

.about-us__title {
   margin-bottom: 16px;
}

.title {
	color: #24272E;
	font-size: 44px;
	font-weight: 600;
	line-height: 56px;
}

.about-us__description {
	max-width: 500px;
   margin-bottom: 40px;
}

.description {
	color: #555C68;
	font-size: 20px;
	line-height: 30px;
}

.about-us__read-more {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	color: #F0E714;
	font-size: 14px;
	font-weight: 500;
	line-height: 22px;
	border-radius: 100px;
	background: #24272E;
	padding: 14px 34px;
}

/* =================================================== */
/* =================================================== */

.our-services {
	padding-bottom: 140px;
}
.our-services__text-box {
    text-align: center;
}

.our-services__theme-box {
    margin-bottom: 24px;
}
.our-services__title {
    margin-bottom: 16px;
}

.our-services__description {
    margin-bottom: 80px;
}

.our-services__list {
    display: flex;
    justify-content: center;
}

.our-services__list:not(:last-child)
{
    margin-bottom: 30px;
}

.our-services__item {
	width: 300px;
    border-radius: 10px;
    padding: 32px;
    background-color: #FFF;
    transition: .3s;
}

.our-services__item:hover {
	box-shadow: 0px 30px 50px -10px rgba(152, 151, 151, 0.37);
	transition: .3s;
}

.our-services__item:not(:last-child)
{
    margin-right: 30px;
}

.our-services__direction-img {
    margin-bottom: 24px;
}
.our-services__direction-title {
    color: var(--Hg1, #24272E);
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 12px;
}

.our-services__direction-desc {
    color: var(--body, #555C68);
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
}

/* =================================================== */
/* =================================================== */

.contact {
	padding: 100px 0;
	background: #FFF;
}

.contact__inner {
	display: flex;
	align-items: center;
	gap: 100px;
}

.contact__content {
	max-width: 480px;
}

.contact__tag {
	display: inline-block;
	color: #101C26;
	line-height: 22px;
	padding: 10px 16px;
	border-radius: 100px;
	text-transform: uppercase;
	background: rgba(240, 231, 20, 0.20);
	margin-bottom: 25px;
}

.contact__title {
	color: #010101;
	font-size: 34px;
	font-weight: 500;
	line-height: 44px;
	margin-bottom: 15px;
}

.contact__text {
	color: #555C68;
	line-height: 24px; /* 150% */
	letter-spacing: -0.176px;
	margin-bottom: 25px;
}

.contact__info {

}

.contact__info-item {
	display: flex;
	gap: 12px;
	color: #555C68;
	font-size: 14px;
	font-weight: 500;
	opacity: 0.9;
}

.contact__info-item:not(:last-child) {
	margin-bottom: 25px;
}

.contact__form {
	padding: 100px 140px 100px 80px ;
	border-radius: 10px;
	background: #101C26;
}

.contact__form-input {
	display: inline-block;
	width: 100%;
	color: #FFF;
	font-weight: 600;
	line-height: 24px;
	padding: 0px 0 15px;
	background: transparent;
	border-bottom: 1.5px solid #FFF;
	margin-bottom: 25px;
}

.contact__form-input:last-of-type {
	margin-bottom: 65px;
}

.contact__form-input::placeholder {
	color: #D3D3D3;
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}

.contact__form-btn {
	color: #101C26;
	font-size: 18px;
	padding: 13px 60px;
	background: #F0E714;
	border: none;
}


/* =================================================== */
/* =================================================== */

.footer {
	background: #101C26;
}

.footer__main {
	display: flex;
	padding: 80px 0px;
}

.footer__box {
	margin-right: 155px;
}

.footer__logo {
	max-width: 98px;
	max-height: 57px;
    margin-bottom: 20px;
}

.footer__desc {
    color: #F5F5F5;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
}

.footer__social-list {
    display: flex;
}

.footer__social-item:not(:last-child) {
    margin-right: 16px;
}

.footer__social-link img {
	transition: all .3s;
}

.footer__social-link:hover img{
	transform: translateY(-10px);
}

.footer__nav-list {
	display: flex;
}

.footer__list-item:not(:last-child) {
	margin-right: 40px;
}

.footer__title {
	color: #F5F5F5;
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 24px;
}


.footer__list-link {
	position: relative;
	color: #B3B3B3;
	font-weight: 500;
}

.footer__list-link:after {
	content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: white; /* Цвет подчеркивания при исчезании линии*/
    transition: width 0.5s; /* Время эффекта */
}

.footer__list-link:hover:after {
	content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: white; /* Цвет подчеркивания при появлении линии*/
    transition: width 0.5s;  /* Время эффекта */
}

.footer__list-item:not(:last-child)
{
	margin-bottom: 14px;
}